<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>GRIDLOCK</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
        <link rel="icon" href="{{ url_for('static', filename='tictactoe.png') }}" type="image/png" />
        <!--google font imports-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet" />

    </head>
    <body>
        <nav>
            <img src="{{ url_for('static', filename='tictactoe.png') }}" alt="Gridlock Logo" id="gridlock"/>
            <h1 id="gridlock1">GRIDLOCK</h1>
            <p> </p>
        </nav>

        <div class="main-layout">
            <div class="modes">
                <h1>Select a Game Mode</h1>
                <button class="mode-btn" id="multiPlayer">Multiplayer</button>
                <button class="mode-btn" id="dumbComp">Dumb Computer</button>
                <button class="mode-btn" id="geniusComp">Unbeatable Computer</button>
            </div>

            <div class="contents" id="tictactoecont">


                <!-- Game Status -->
                <p class="status" id="status">Your turn</p>

                <!-- Game Board -->
                <div class="board" id="board">
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                </div>
                
                <!-- Reset Button -->
                <button class="reset-btn" id="resetButton">Reset Game</button>
            </div>
        </div>

        <footer>
            <p>&copy; 2026 GRIDLOCK. All rights reserved.</p>
            <p>Made with ❤️ by Nishka Kanchan</p>
            <p>Contact: <a href="mailto:kanchan.nishka@gmail.com">kanchan.nishka@gmail.com</a></p>
        </footer>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>